body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-size: 20px;
}

.title {
  font-size: 50px;
  color: brown;
  text-transform: uppercase;
  position: sticky;
}